.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem; 

	background-color: hsl(203, 20%, 10%);
	border-radius: 10px;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);

	width: 18rem;
	height: 20rem;
}

.card h3 {
	margin-bottom: 2rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem; 
}

.login-form input {
	background-color: transparent;
	border: 2px solid var(--accent-col);
	border-radius: 10px;
	padding: 0.75rem 1rem;
	font-weight: 700;
	color: var(--text-col)
}

.login-form__password {
	margin-bottom: .5rem;
}