* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text-col: whitesmoke;
	--background-col: hsl(203, 20%, 8%);
	--accent-col: #b042ff;
	--accent-col-active: #b042ff9f;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--text-col);
	background-color: var(--background-col);
}

.main-header {
	/* height: 3rem; */
	background-color: var(--accent-col);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.main-header__div {
	height: 100%;
	width: 100%;
	padding: 0.5rem;

	display: flex;
	align-self: left;
}

.main-header__title {
	font-size: 1.4rem;
}

main {
	display: grid;
	place-items: center;
	height: 100dvh;
}

.but {
	background-color: var(--accent-col);
	width: fit-content;
	padding: 0.4rem 3rem;
	color: var(--text-col);
	border: none;
	border-radius: 10px;
	font-weight: 700;
	cursor: pointer;
}

.but:active {
	background-color: var(--accent-col-active)
}

.login-form__create {
	font-size: 0.8rem;
	text-decoration: none;
	color: #00add8;
}

.login-form__create:hover {
	text-decoration: underline;
}